body {
    background-color: floralwhite;
}
#nome {
    font-family: Helvetica, sans-serif;
    text-align: center;
}
img {
    float: left;
    margin: 0 16px 16px 0;
}
p {
    font-family: 'Courier New', Courier, monospace;
}
#listahabilidades {
    clear: both;
}
strong {
    font-style: italic;
}
.item1-list {
    font-size: 22px;
}
.item2-list {
    font-size: 20px;
}
.item3-list {
    font-size: 18px;
}