body {
    background-color: floralwhite;
}
#nome {
    font-family: Helvetica, sans-serif;
}
p {
    font-family: 'Courier New', Courier, monospace;
}
strong {
    font-style: italic;
}
.item1-list {
    font-size: 22px;
}
.item2-list {
    font-size: 20px;
}
.item3-list {
    font-size: 18px;
}